<ion-view view-title="Event List">
  <ion-content>
    <h1>Event List</h1>
    <ion-list>
      <ion-item ng-repeat="event in data.events">
        <div class="username">{{event.user.first_name}} {{event.user.last_name[0]}}.</div>
        <div class="description">{{event.description}}</div>
        <div class="upvoteDiv">
          <span class="upvoteCount">{{event.upvoteCount}}</span>
          <button class="upvote" ng-click="upvote({{event}})" ng-disabled="{{event.alreadyVoted}}">Upvote</button>
        </div>
        <div class="downvoteDiv">
          <span class="downvoteCount">{{event.downvoteCount}}</span>
          <button class="downvote" ng-click="downvote({{event}})" ng-disabled="{{event.alreadyVoted}}">Downvote</button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
